@use '../../../styles/colors' as color;
@use '../../../styles/constants' as constants;

.main-page {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  box-sizing: border-box;
  overflow: hidden;
  padding: constants.$padding;
  background-color: color.$color-background-primary;
  width: 100%;
  height: 100%;
}