$color-brand: #7F56D9;
$color-brand-plus: #6941C6;
$color-brand-minus: #9E77ED;
$color-text-main: #181D27;
$color-text-2: #535862;
$color-text-3: #A4A7Ae;
$color-hover-gray: #FAFAFA;
$color-select-gray: #E9EAEB;
$color-boarder: #E9EAEB;
$color-icons: #A4A7Ae;
$color-error-red: #D92D20;
$color-plus-red: #B42318;
$color-minus-red: #F04438;
$color-success-green: #079455;
$color-plus-green: #067647;
$color-minus-green: #17B26A;
$color-warning-yellow: #FEC84B;
$color-plus-yellow: #FDB022;
$color-minus-yellow: #FEDF89;
$color-background-primary: #F6F6F6;
$color-background-2: #FCFCFC;