$border-radius: 0.5rem;
$border-width: 1px;
$border-spacer-width: 0.375rem;

$font-weight-title: 600;
$font-weight-sub-title: 500;
$font-weight-3: 400;

$font-size-title: 2.25rem;
$font-size-midtitle: 1.5rem;
$font-size-subtitle: 1.25rem;
$font-size-3: 0.875rem;
$font-size-4: 0.75rem;

$height-title: 2.75rem;
$height-sub-title: 1.875rem;

$margin-right: 0.5rem;

$padding: 1.5rem;
