$border-radius: 8px;
$border-width: 1px;
$border-spacer-width: 3px;
$font-weight-title: 600;
$font-weight-sub-title: 500;
$font-weight-3: 400;

$font-size-title: 36px;
$font-size-subtitle: 20px;
$font-size-3: 400;

$height-title: 44px;
$height-sub-title: 30px;
$height-message-card: 80px;

$margin-right: 8px;

$padding: 24px;
