@use '../../../styles/colors' as colors;
@use '../../../styles/constants' as constants;

.content-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: constants.$padding;
  border-radius: constants.$border-radius;
  border-style: solid;
  border-width: constants.$border-width;
  border-color: colors.$color-border;
  background-color: colors.$color-white;
}