@use '../../../styles/colors' as colors;
@use '../../../styles/constants' as constants;

.side-nav-bar {
  position: relative;
  width: 20rem;
  height: 100vh;
  gap: 1.5rem;

  .button-group {
    gap: 0.25rem;

    .title {
      padding-left: 1.2em;
      display: flex;
      justify-content: left;
      color: colors.$color-text-2;
      font-weight: constants.$font-weight-title;
      float: left;
    }
  }
}