@use '../../../styles/colors' as c;

.side-nav-bar {
  position: relative;
  width: 329px;
  height: 100vh;
  gap: 24px;

  .button-group {
    gap: 6px;

    .title {
      padding-left: 1.2em;
      display: flex;
      justify-content: left;
      color: c.$color-text-2;
      font-weight: 600;
      float: left;
    }
  }
}