@use '../../../../styles/colors' as colors;
@use '../../../../styles/constants' as constants;

.chat-modal {
  padding: 29px 29px 29px 1.5rem;
  gap: 1.5rem;
  height: 100%;

  .chat-title {
    font-size: constants.$font-size-3;
    font-weight: constants.$font-weight-sub-title;
  }
}
