@use '../../../../../styles/colors' as colors;
@use '../../../../../styles/constants' as constants;

.chat-message {
  display: flex;
  flex-direction: row;

  .profile-picture {
    width: 25px;
    height: 25px;
    border-radius: constants.$border-radius;
    background-color: pink;
    margin-right: constants.$margin-right;
  }

  .right-container {
    max-width: calc(100% - 25px - 8px);
    display: flex;
    flex-direction: column;
  }

  .sender {
    font-weight: constants.$font-weight-sub-title;
    color: colors.$color-text-2;
    margin-right: constants.$margin-right;
    font-size: constants.$font-size-3;
  }

  .post-time {
    color: colors.$color-text-2;
    font-size: constants.$font-size-4;
  }

  .message {
    color: colors.$color-text-main;
    display: flex;
    text-align: left;
    font-size: constants.$font-size-3;
  }
}