@use '../../../styles/colors' as colors;
@use '../../../styles/constants' as constants;

.urgency-token {
  display: flex;
  align-items: center;
  border-radius: constants.$border-radius;
  border-style: solid;
  border-width: constants.$border-width;
  padding: 0.25rem;
  height: 1.375rem;
  gap: 0.25rem;
  font-size: constants.$font-size-4;
  font-weight: constants.$font-weight-sub-title;
}

.urgency-token--urgent {
  color: colors.$color-plus-red;
  border-color: colors.$color-error-red-border;
  background-color: colors.$color-urgency-background-red;
}

.urgency-token--medium {
  color: colors.$color-plus-red;
  border-color: colors.$color-error-red-border;
  background-color: colors.$color-error-red-background;
}

.urgency-token--low {
  color: colors.$color-plus-red;
  border-color: colors.$color-error-red-border;
  background-color: colors.$color-error-red-background;
}

.urgency-dot {
  width: 0.375rem;
  height: 0.375rem;
  background-color: colors.$color-minus-red;
  border-radius: 50%;
}