@use '../../../../styles/colors' as colors;
@use '../../../../styles/constants' as constants;

.side-nav-bar-button {
  height: constants.$height-title;
  border-radius: constants.$border-radius;
  border-style: hidden;
  background-color: colors.$color-background-primary;
  color: colors.$color-text-2;
  font-weight: constants.$font-weight-sub-title;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .label {
      display: flex;
      align-items: center;
    }

    .badge {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.5rem;
      height: 1.375rem;
      border-radius: 50%;
      border-style: solid;
      border-width: constants.$border-width;
      border-color: colors.$color-border;
      background-color: colors.$color-background-2;
    }
  }

}

.side-nav-bar-button:hover {
  border-style: solid;
  border-color: colors.$color-border;
  background-color: colors.$color-hover-gray;
}

.side-nav-bar-button:focus {
  outline: none;
  border-style: solid;
  border-width: constants.$border-width;
  border-color: colors.$color-border;
  background-color: colors.$color-select-gray;
}