@use '../../../../styles/colors' as colors;
@use '../../../../styles/constants' as constants;

.chat-messenging {
  .send-button {
    outline: none;
    color: colors.$color-text-main;
    background-color: colors.$color-white;
    min-height: constants.$height-title;
    padding: 0 1.125rem;
    border-radius: constants.$border-radius;
    border-style: solid;
    border-width: constants.$border-width;
    border-color: colors.$color-border;
    width: constants.$height-title;
  }

  .send-button:hover {
    background-color: colors.$color-hover-gray;
  }

  .send-button:active {
    background-color: colors.$color-select-gray;
  }
}