@use '../../../../styles/colors' as colors;
@use '../../../../styles/constants' as constants;

.chat-messenging {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;

  .scroll-area {
    overflow-y: auto;
    height: calc(100% - 114px);
  }
}