@use '../../../../../styles/colors' as colors;
@use '../../../../../styles/constants' as constants;

.chat-editor {
  min-height: 48px;
  max-height: 200px;
  overflow-y: auto;
  outline: none;
  font-family: Inter, Arial, sans-serif;
  font-size: constants.$font-size-3;
  text-align: left;
}

.chat-editor p {
  margin: 0;
}
