@use '../../../../../styles/colors' as colors;
@use '../../../../../styles/constants' as constants;

.chat-card {
  height: 5rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 0.8125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .title {
    color: colors.$color-text-2;
    align-items: center;
    font-weight: constants.$font-weight-title;
  }

  .message-box {
    align-items: center;
    color: colors.$color-text-main;
    font-weight: constants.$font-weight-sub-title;

    .sender {
      .profile-picture {
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        margin-right: constants.$margin-right;
        background-color: pink;
      }

      color: colors.$color-text-2;
      border-radius: constants.$border-radius;
      background-color: colors.$color-select-gray;
      height: 1.75rem;
      padding: 0 0.75rem;
      display: flex;
      align-items: center;
      margin-right: constants.$margin-right;
    }
  }
}