@use '../../../../styles/colors' as c;

.side-nav-bar-button {
  height: 44px;
  border-radius: 8px;
  border-style: hidden;
  background-color: c.$color-background-primary;
  color: c.$color-text-2;
  font-weight: 500;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 22px;

    .label {
      display: flex;
      align-items: center;
    }

    .badge {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 22px;
      border-radius: 50%;
      border-style: solid;
      border-width: 2px;
      border-color: c.$color-boarder;
      background-color: c.$color-background-2;
    }
  }

}

.side-nav-bar-button:hover {
  border-style: solid;
  border-color: c.$color-boarder;
  background-color: c.$color-hover-gray;
}

.side-nav-bar-button:focus {
  outline: none;
  border-style: solid;
  border-width: 2px;
  border-color: c.$color-boarder;
  background-color: c.$color-select-gray;
}