@use '../../../../styles/colors' as colors;
@use '../../../../styles/constants' as constants;

.message-card {
  height: constants.$height-message-card;
  gap: 10px;

  .title {
    display: flex;
    flex-direction: row;
    color: colors.$color-text-2;
    align-items: center;
    font-weight: constants.$font-weight-title;
  }

  .message-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: colors.$color-text-main;
    font-weight: constants.$font-weight-sub-title;

    .sender {

      .profile-picture {
        border-radius: 50%;
        width: 16px;
        height: 16px;
        margin-right: constants.$margin-right;
        background-color: pink;
      }

      color: colors.$color-text-2;
      border-radius: constants.$border-radius;
      background-color: colors.$color-select-gray;
      height: 28px;
      padding: 0 12px;
      display: flex;
      align-items: center;
      margin-right: constants.$margin-right;
    }
  }
}