@use '../../../styles/colors' as colors;
@use '../../../styles/constants' as constants;

.left-marked-card {
  position: relative;
  background-color: colors.$color-hover-gray;
  border-radius: constants.$border-radius;
  overflow: hidden;

  --color: #181D27;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    width: constants.$border-spacer-width;
    background-color: var(--color);
  }
}


.left-marked-card--black {
  --color: #181D27;
}

.left-marked-card--red {
  --color: #D92D20;
}

.left-marked-card:focus {
  outline: none;
}