@use '../../../styles/colors' as colors;
@use '../../../styles/constants' as constants;


.left-marked-card {
  position: relative;
  align-items: flex-start;
  justify-content: center;
  background-color: colors.$color-hover-gray;
  border-radius: constants.$border-radius;
  border-left-style: solid;
  border-left-width: constants.$border-spacer-width;
  padding-left: 13px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: constants.$border-spacer-width;
    background: var(--color); //$mark-color;
    border-top-left-radius: constants.$border-radius;
    border-bottom-left-radius: constants.$border-radius;
  }

  --color: #181D27;
}

.left-marked-card--black {
  --color: #181D27;
}

.left-marked-card--red {
  --color: #D92D20;
}