@use '../../../../styles/colors' as colors;
@use '../../../../styles/constants' as constants;

.inbox {
  gap: 0.625rem;

  .title-box {
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    .title {
      height: constants.$height-title;
      font-size: constants.$font-size-title;
      font-weight: constants.$font-weight-title;
      color: colors.$color-text-main;
      display: flex;
      align-items: center;
    }

    .sub-title {
      height: constants.$height-sub-title;
      font-size: constants.$font-size-subtitle;
      font-weight: constants.$font-weight-sub-title;
      color: colors.$color-text-main;
      display: flex;
      align-items: center;
    }
  }
}