@use '../../../../styles/colors' as colors;
@use '../../../../styles/constants' as constants;

.summary {
  color: colors.$color-text-2;
  text-align: left;
  font-size: constants.$font-size-4;
  font-weight: constants.$font-weight-sub-title;
}

ul {
  margin: 0;
  padding: 4px 24px;
}

li {
  text-align: left;
}