@use '../../../styles/colors' as colors;
@use '../../../styles/constants' as constants;

//.bl-selectable-list {
.MuiList-root {
  background-color: colors.$color-white;
  color: #7F56D9;

  /*.MuiListSubheader-root {
    background-color: #7F5;
  }

  .MuiListItem-root {
    background-color: #6D9;
  }*/
}

//}