@use '../../../../styles/colors' as colors;
@use '../../../../styles/constants' as constants;

.profile {
  height: 64px;
  align-items: center;
  color: colors.$color-text-3;
  display: flex;
  flex-direction: row;

  .card {
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 0.125rem;
    border-radius: 0.5rem;
    border-color: colors.$color-border;
    padding: 0.75rem;
    height: 4rem;
    width: 17.5rem;
    margin-right: 0.75rem;
    background-color: colors.$color-background-primary;

    .picture {
      border-style: solid;
      border-width: 0.125rem;
      border-radius: 50%;
      border-color: colors.$color-border;
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 0.75rem;
    }

    .envelope {
      display: flex;
      justify-content: space-between;
      width: calc(100% - 3.25rem);

      .description {
        justify-items: left;

        .name {
          font-weight: constants.$font-weight-title;
          color: colors.$color-text-main;
        }

        .e-mail {
          font-weight: constants.$font-weight-3;
          color: colors.$color-text-2;
        }
      }

      .icon {
        display: flex;
        justify-self: right;
        color: colors.$color-text-3;
      }
    }
  }


  .card:hover {
    background-color: colors.$color-hover-gray;
  }

  .card:focus {
    outline: none;
    background-color: colors.$color-select-gray;
  }
}