@use '../../../../styles/colors' as colors;
@use '../../../../styles/constants' as constants;

.create-chat-modal {
  padding: constants.$padding;
  gap: 1.5rem;
  height: 100%;

  .title-line {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title-start {
      display: flex;
      gap: 0.75rem;
      align-items: center;
      color: colors.$color-text-main;

      .title-icon {
        font-size: constants.$font-size-midtitle
      }

      .title-text {
        font-size: constants.$font-size-3;
        font-weight: constants.$font-weight-title;
      }
    }

    .title-end {
      display: flex;
      gap: 0.75rem;
      align-items: center;
      color: colors.$color-icons;
    }
  }
}